/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../font/open-sans-v35-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../font/open-sans-v35-latin-700.woff2") format("woff2");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1140px;
}

.titles {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
}

.sub_titles {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}

.texts {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.btns {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  background-color: #00BAFC;
}

.header {
  background: #FFF;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  display: block;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding: 16px;
}

.header__number {
  border-radius: 5px;
  display: block;
  padding: 8px 16px;
  background-color: #00BAFC;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.hero {
  padding-top: 80px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  height: auto;
  background-image: url(../../image/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.hero__content {
  max-width: 470px;
  margin-bottom: 80px;
}

.hero__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
}

.hero__text {
  margin-bottom: 16px;
}

.hero__link {
  margin-top: 16px;
  color: #FFF;
  padding: 8px 16px;
}

.xizmatlar {
  padding-top: 56px;
}

.xizmatlar__title {
  margin-bottom: 16px;
  text-align: center;
}

.xizmatlar__text_top {
  margin: auto;
  margin-bottom: 24px;
  text-align: center;
  max-width: 719px;
}

.xizmatlar__cards {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}

.xizmatlar__card {
  border-radius: 5px;
  background: #FFF;
  -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 24px;
  max-width: 320px;
}

.xizmatlar__sub_title::before {
  margin: auto;
  padding: 24px 58px;
  margin-bottom: 16px;
  content: " ";
  display: block;
  width: 202px;
  height: 130px;
  background-image: url(../../image/xizmatlar-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.xizmatlar__text {
  margin-top: 16px;
}

.xizmatlar__links {
  margin: auto;
  gap: 16px;
  text-align: center;
}

.xizmatlar__link_1 {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 40px;
}

.xizmatlar__link_2 {
  display: inline-block;
  color: #00BAFC;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  margin-left: 16px;
}

.work {
  padding-top: 56px;
}

.work__title {
  margin-bottom: 10px;
}

.work__text {
  text-align: center;
  max-width: 720px;
  margin: auto;
}

.box {
  max-width: 300px;
  height: 278px;
}

.work__content_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work__content_list:not(:first-child) {
  margin-top: 48px;
}

.work__content {
  margin-left: 20px;
}

.work__content_title {
  text-align: start;
}

.work__content_text {
  max-width: 500px;
  text-align: start;
  margin-top: 10px;
}

.contact {
  background-color: #00BAFC;
}

.contact__container {
  padding-bottom: 64px;
}

.contact__title {
  padding-top: 56px;
  color: #FFF;
}

.contact__text {
  max-width: 720px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  color: #FFF;
}

.work__form {
  max-width: 348px;
  height: auto;
  margin: auto;
  border-radius: 5px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.work__name {
  border-radius: 5px;
  background: var(--light-grey, #F3F3F3);
  display: inline-block;
  padding: 16px;
  outline: none;
  border: none;
}

.work__number {
  border-radius: 5px;
  background: var(--light-grey, #F3F3F3);
  display: inline-block;
  padding: 16px;
  outline: none;
  border: none;
}

.work__select {
  display: block;
  border-radius: 5px;
  background: var(--light-grey, #F3F3F3);
  max-width: 200px;
  padding: 16px;
  outline: none;
  border: none;
}

.work__option {
  border-radius: 5px;
  background: var(--light-grey, #F3F3F3);
  display: block;
  padding: 16px;
  outline: none;
  border: none;
}

.work__submit {
  display: block;
  border-radius: 5px;
  background: var(--blue, #00BAFC);
  outline: none;
  border: none;
  padding: 8px 16px;
}

.footer {
  background: var(--black, #191919);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__content {
  max-width: 320px;
  text-align: start;
  padding-bottom: 120px;
}

.footer__title {
  padding-top: 56px;
  color: #FFF;
  text-align: start;
}

.footer__text {
  margin-top: 16px;
  color: #FFF;
  text-align: start;
}

.footer__item {
  margin-top: 16px;
}

.footer__link {
  color: #FFF;
  text-align: start;
}/*# sourceMappingURL=main.css.map */